.card-list {
    /* align-items: center; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150rem, 1fr));
    grid-gap: var(--xxs-size) var(--xs-size);
    /* justify-items: center; */
    padding: var(--xxs-size);
}

/* @-moz-document url-prefix() { */
    /* .card-list {
        grid-template-columns: repeat(auto-fill, minmax(150rem, 1fr));
    } */

    @media (min-width: 46rem) {
        .card-list {
            grid-template-columns: repeat(auto-fill, minmax(200rem, 1fr));
        }
    }
/* } */
